body {
    background-color: wheat;
    font-size: 18px;
    font-weight: bold;
    animation-timing-function:linear ;
    animation-name: backcolor;
    animation-duration:8s ;
    animation-delay:1s ;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes backcolor {
    0%{background-color: rgb(98, 121, 121);}
    25%{background-color: rgb(173, 134, 60);}
    /* 50%{background-color: rgb(93, 226, 60);}
    75%{background-color: rgb(178, 223, 54);}
    100%{background-color: rgb(214, 138, 23);}
     */
}
.topbar{
    width: 100%;
    /* margin: auto; */
    /* border: 2px solid black; */
    animation-name: headerfile;
    animation-duration: 10s;
    animation-delay:0s ;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
    float: right;
}

@keyframes headerfile {
    from {
        top: 0px;
        left: 0px;
    }
    to {
        top: 0px;
        left: 100%;
    }
    0%{color: rgb(10, 12, 12);}
    25%{color: rgb(243, 116, 11);}
}
/* from here i set my nav bar */
.head1{
float: left;
font-size: 17px;
margin-left: 10px;
}
/* dp */
.dp{
    border-radius: 50%;
    width: 80px;
    position: relative;
    float: left;
    border: 2px solid brown;
    margin-left: 20px;
    transition: transform;
    transition-duration: 2s;
    transition-delay:0 ;
    transition-timing-function: linear;
    
}
.dp:hover{
    transform: translateX(5px);
    transform: scaleX(4px);
}
.bar{
    float: right;
    width: 100%;
    padding: 20px;
    /* overflow: hidden; */
    
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    float: right;
    transition-property: transform;
    transition-duration:0.5s ;
    transition-delay:0s ;
    overflow: auto;
    

}
li
{
    float: left;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
   
}
li a{
    text-decoration: none;
    color: rgb(20, 20, 18);
    
}
li:hover{
    background-color: rgb(138, 160, 152);
    /* transform: translateY(-5px); */
    transform: skewY(10px);
    border: 2px solid transparent;
}
/* there is its end */
/* from here i can set my pic with its transition */
.img {
    width: 200px;
    /* border-radius: 50%; */
    animation-name: pic;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    position: relative;
    margin-top: 10px;
}

@keyframes pic {
    from {
        top: 0px;
        left: 0px;
        
    }

    to {
        top: 0px;
        left: 100%;
    }
}

/* Buttons which are learn more  */
.btn {
    border: 3px solid pink;
    margin-top: 43%;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-delay: 0s;
    padding: 20px;
    width: 20%;
    transition-timing-function: linear;
    position: absolute;
    top: 10px;
}

.btn:hover {
    background-color: rgb(11, 125, 129);
    transform: translateY(-5px);
}
/* here learn more */
/* button of hello start */
.btn2 {
    position: relative;
    float: right;
    right: 55%;
    padding: 20px;
    border: 3px solid pink;
    margin-top: -4%;
    width: 20%;
    transition-property: transform;
    animation-duration: 7s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-name: btn2;
    animation-iteration-count: 1;
}

.btn2:hover {
    background-color: rgb(11, 125, 129);
    transform: translateY(-8px);
}

@keyframes btn2 {
    from{
          right: 70%;
    }

    to {
        right: -100%;  
    }
}
.foo{
    margin-top: 200%;
}